@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.search-bar {
  position: relative;
  width: 400px;
}
.logo {
  padding: 2rem;
}
ion-header {
  background: #569ec2;
}
.navbar {
  display: flex;
  background-color: #569ec2;
}

.header-title {
  font-size: 16px;
  font-weight: 600;
  text-overflow: ellipsis;
}

.user-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-profile {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}

.book-slide {
  position: relative;
  width: 100%;
}

.book {
  overflow: hidden;
}


/* Ensure smooth horizontal scrolling */
.js-flickity {
  overflow: hidden;
}

/* Set up snapping and scrolling behavior */
.flickity-viewport {
  overflow: hidden;
  scroll-snap-type: x mandatory;
}

.flickity-slider {
  display: flex;
  scroll-snap-type: x mandatory;
}

/* Make individual cells snap into view */
.book-cell {
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 20px; /* Adjust spacing between cells */
}


.book-cell {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  width: 100%;
  height: fit-content;
  margin-right: 1px;
  &:nth-child(1) {
    background: linear-gradient(to bottom, red, black)
  }
  &:nth-child(2) {
    background-color: #a4e0eb;
  }
  &:nth-child(3) {
    background-color: #edb9d6;
  }
  &:nth-child(4) {
    background-color: #fdca95;
  }
  &:nth-child(5) {
    background-color: #cbb5e2;
  }
  &:nth-child(6) {
    background-color: #edb9d6;
  }
}


.book-photo {
  width: 180px;
  flex-shrink: 0;
  bottom: -35px;
  left: 35px;
  border-radius: 2px;
  box-shadow: -2px 6px 19px 0px #7f818e;
  transition: .3s ease;
  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
}

.book-img {
  flex-shrink: 0;
}

.book-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.book-title {
  color: #ffffff;
  font-weight: 600;
}

.book-author {
  margin-top: 3px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.book-content {
  padding: 0 20px;
  color: #ffffff;
  overflow: hidden;
  width: 500px;
}

fieldset,
label {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-size: 0.5em;
  margin: 10px;
}
.rating {
  border: none;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin-right: 5px;
  margin-top: 10px;
  font-size: 0.9em;
  display: inline-block;
}

.star {
  font-family: FontAwesome;
}

.spice {
  font-family: FontAwesome;
}

.star .rating > label:before {
  content: "\f005";
}

.spice .rating > label:before {
  content: "\f06d"; /* Assuming this is the icon for spice */
}


.rating > label {
  color: #fff;
  float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #d85d61;
}
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #d85d61;
}

.blue > input:checked ~ label,
.blue:not(:checked) > label:hover,
.blue:not(:checked) > label:hover ~ label {
  color: #458997;
}
.blue > input:checked + label:hover,
.blue > input:checked ~ label:hover,
.blue > label:hover ~ input:checked ~ label,
.blue > input:checked ~ label:hover ~ label {
  color: #458997;
}

.purple > input:checked ~ label,
.purple:not(:checked) > label:hover,
.purple:not(:checked) > label:hover ~ label {
  color: #a76287;
}
.purple > input:checked + label:hover,
.purple > input:checked ~ label:hover,
.purple > label:hover ~ input:checked ~ label,
.purple > input:checked ~ label:hover ~ label {
  color: #a76287;
}

.yellow > input:checked ~ label,
.yellow:not(:checked) > label:hover,
.yellow:not(:checked) > label:hover ~ label {
  color: #ffad58;
}
.yellow > input:checked + label:hover,
.yellow > input:checked ~ label:hover,
.yellow > label:hover ~ input:checked ~ label,
.yellow > input:checked ~ label:hover ~ label {
  color: #ffad58;
}

.dark-purp > input:checked ~ label,
.dark-purp:not(:checked) > label:hover,
.dark-purp:not(:checked) > label:hover ~ label {
  color: #905587;
}
.dark-purp > input:checked + label:hover,
.dark-purp > input:checked ~ label:hover,
.dark-purp > label:hover ~ input:checked ~ label,
.dark-purp > input:checked ~ label:hover ~ label {
  color: #905587;
}

.book-voters {
  color: #fff;
  vertical-align: sub;
  font-size: 13px;
  margin-left: 7px;
  white-space: nowrap;
  margin-top: 7px;
}

.book-sum {
  margin-top: 20px;
  font-size: 14px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.book-see {
  margin-top: 25px;
  text-align: center;
  background-color: #fff;
  color: #fbadaf;
  font-weight: 600;
  padding: 8px;
  font-size: 14px;
  width: 160px;
  border-radius: 20px;
  &:hover {
    color: #ff6e72;
    cursor: pointer;
  }
  &.book-blue {
    color: #a4e0eb;
    &:hover {
      color: #22cdec;
    }
  }
  &.book-pink {
    color: #edb9d6;
    &:hover {
      color: #ff6dbe;
    }
  }
  &.book-yellow {
    color: #fdca95;
    &:hover {
      color: #fb9124;
    }
  }
  &.book-purple {
    color: #cbb5e2;
    &:hover {
      color: #a764ec;
    }
  }
}

.all-books{
  background-color: #f5f5f5;
  width: 100%;
  height: fit-content;
  padding: 2rem;
}

.book-row{
  display: grid;
  grid-row: auto;
  flex-wrap: wrap; /* Allow items to wrap to the next line */

}
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Automatically fit columns with a minimum of 180px and maximum 1fr */
  gap: 1rem; /* Add some spacing between images */
}

.logo {
  padding: 2rem;
}

